
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Student Login
    </title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/login_styles.css">
</head>
<body>
    <div id='loginContent'>
        <table>
            <tr>
                <td><h1>Student Login</h1></td>
                <td id='empty'></td>
                <td><a href="#"><input type="button" value="facebook"></a></td>
                <td><a href="#"><input type="button" value="google"></a></td>
            </tr>
        </table>
    </div>
</body>
</html>